.navbar-brand{
    font-family: 'Bebas Neue';
    font-size: 175%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}

body{
    background: rgb(111, 212, 243);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    position: relative;
}

.pagina{
    background: whitesmoke;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    position: relative;
}

form {
    border: 1px solid whitesmoke;
    border-radius: 0.5em;
    padding: 0.3em;    
}

form input {
    font-size: 1em;
    border-radius: 0.3em;
    border: none;
    padding: 0.2em;
    background-color: white;
}

form button {
    cursor: pointer;
    background: none;
    color: whitesmoke;
    font-size: 1em;
    border-radius: 0.3em;
    border: none;
    padding: 0.2em;
    width: 30px;
    margin-left: 3px;
}

form button:hover {
    background-color: white;
    color: #0dcaf0;
}

.thumbnail {
    height: 360px;
    text-align: center;
    margin-top: 40px;
    border: 3px solid rgba(46, 45, 51, 0.363);
}

.thumbnail{
    background: rgb(180, 231, 247);
    border-radius: 1em;
}

.thumbnail img {
    height: 230px;
    margin-top: 10px;
}

.header {
    margin-bottom: 30px;
}

.jumbotron {
    border-bottom: 0;
}

.pagina {
    text-align: center;
    justify-content: center;
}

.div-footer {
    position: fixed;
    margin-bottom: auto;
}

.item {
    font-family: 'Bebas Neue';
    color: white;    
}

.container .row #det {
    margin-top: 30px;
    border: 2px solid black;

}

.container .row .img-responsive {
    margin-top: 25px;
    border: 2px solid black;
}

.footer_busca {
    color: #f2f2f2;
    background-color: #0264af;
    padding: 0.7rem;
    margin: auto auto 0 auto;
}

@media (max-width:600px){
    html{
      max-width: 100%;
      padding: 0;
      margin: 0;
    }

    footer{
        max-height: 7vh;
        padding: 0.5rem;
    }
}

@media (min-height:1000px){
    footer{
      position: fixed;
      bottom: 0;
      width: 100%;
    }
}


