* {
    margin: opx;
    padding:0px;
}

body{
    background: rgba(204, 202, 80, 0.514);
}

#fotos{
    margin-top:1px;
    width:100%;
    overflow-x: hidden;
    height:400px;
    border:1px solid white;
    white-space: nowrap;
}

#fotos ul li{

    margin-right:10px;
    cursor: pointer;
    width:225px;
    height:375px;
    background:white;
    display: inline-block;
}

.btn-foto {
    padding: 4px;
    font-size: 20px;
    position: relative;
    top: 210px;
    color: white;
}
.titulo{
    margin-top: 5px;
}

footer{
    font-size: 18px;
}

.nav-link{
    font-size: 17px;
}