
*{
    font-family:Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

h1{
    font-family: Bebas neue;
    color: whitesmoke;
}


form{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

body{
    background-image: url(../static/imagens/fundo.jpg);
}


#emailEnviado{
    color: white;
    font-size: 0.75em;
}

#labelEmail{
    color: whitesmoke;
    font-style: bold;
}

#mensagemErro{
    text-align: center;
    color: red;
    background:rgba(0, 0, 0, 0.425);
    border-radius: 00.5rem;
    font-style: italic;
    font-size: 0.75em ;
}

#resiliaflix_logo{
    max-height: auto;
    max-width: 2rem;
}

#header-font{
    font-family: Bebas neue;
    font-size: 1em;
}

.form-submit-button {
    background: #0dcaf0;
    color: white;
    height: 45px;
    border-style: outset;
    border-color: rgba(245, 245, 245, 0.664);
    font: bold 15px arial, sans-serif;
    text-shadow:none;
    border-radius: 0.5rem;

}

.caixaRecuperaAcesso {
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    max-width: 30rem;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.801);
    border-radius: 0.5rem;
    border: 1px solid rgba(75, 75, 75, 0.534);
}

.navbar-brand{
    font-family: 'Bebas Neue', cursive;
}


.footer-esqueci-minha-senha {
    color: #f2f2f2;
    background-color: #0dcaf0;
    padding: 0.7rem;
    font-size: small;

}
#div-footer{
    margin-top: 230px;
}