body {
    background: url(../static/imagens/Netflix.jpg);
}

.footer-style {
    background: white;
    margin-top: 140px;
}

#fotos {
    padding: 10px;
    background: rgba(0, 0, 0, 0.582);
    border: none;
    height: auto;
}

#cabecalho {
    text-align: center;
    color: rgb(228, 225, 79) ;
    background: rgba(0, 0, 0, 0.582);
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.footer {
    color: #f2f2f2;
    background-color: #0264af;
    padding: 0.7rem;
    margin: 5rem auto 0 auto;
  }

@media (max-width:600px){
    footer{
      max-height: 7vh;
      padding: 0.5rem;
    }
}

@media (min-height:1000px){
    footer{
        position: fixed;
        bottom: 0;
        width: 100%;
        }
}