body {
    background: url(../static/imagens/Netflix.jpg);
}

.footer-style {
    background: white;
    margin-top: 140px;
}

#fotos {
    padding: 10px;
    background: rgb(255 255 255 / 29%);;
    border: none;
    height: auto;
    border-radius: 1em;
}

#cabecalho {
    text-align: center;
    color:  #0f2c32;
    background: rgb(255 255 255 / 47%);
    margin-top: 10px;
    display: flex;
    justify-content: center;
    border-radius: 3em;
}

.footer {
    color: #f2f2f2;
    background-color: #0264af;
    padding: 0.7rem;
    margin: 5rem auto 0 auto;
  }

@media (max-width:600px){
    footer{
      max-height: 7vh;
      padding: 0.5rem;
    }
}

@media (min-height:1000px){
    footer{
        position: fixed;
        bottom: 0;
        width: 100%;
        }
}
