*{
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width: 200px;
    height: auto;
    border-radius: 4rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}


h1{
    color: rgb(90, 90, 90);
    padding: 20px;
    font-size: 3em;
    font-family: 'Bebas Neue', cursive;
    border: 5px solid rgba(0, 0, 0, 0.19);
    border-radius: 0.5rem;;
    background-color: rgba(204, 202, 80, 0.514);
}

h3{
    color:rgb(88, 88, 88);
    font-family: 'Bebas Neue';
}


.flex-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    
}

#flex-container-center{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    
}

#font-resilia-flix{
    font-family: Bebas Neue;
}


.container-item{
    border: 5px solid rgba(0, 0, 0, 0.192);
    padding: 5px;
    padding-top: 20px;
    border-radius: 0.5rem;
    background-color: #0dcaf08f;
    width: 250px;
    text-align: center;
    color: whitesmoke;
    font-family: 'Bebas Neue', cursive
}

.config-badges{
    max-height: 25px;
    max-width: 100px;
    border-radius: 0.5rem;
    margin: 5px;
}

.alinha-subtitulo{
    text-align: center;
    padding-bottom: 20px;
    
}



#div-footer{
    margin-top: 80px;
}

.footer-contato{
    font-family: Arial, Helvetica, sans-serif;
    color: #0073cd;
    box-shadow: 0 -1px 2px 1px lightblue;
    padding: 0.7rem;
    margin: auto auto 0 auto;
    text-align: center;
    font-size: 15px;
    background-color: white;
    margin-top: 140px;
}

