* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

body{
  background-image: url(../static/imagens/fundo.jpg);
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  position: relative;
}

main {
  margin: 0;
}

main h1 {
  color: #f2f2f2;
  text-align: center;
  margin: .4rem auto .4rem auto;
  font-family: Bebas neue;
  font-size: 2.5rem;
}

.formulario_cadastro {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  max-width: 28.5rem;
  margin: 2rem auto 3rem auto;
  background: rgba( 0, 0, 0, 0.50 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.formulario_cadastro label{
  color: #f2f2f2;
  font-size: 1.1rem;;
  margin: .9rem auto .3rem 0;
}

.formulario_cadastro label:nth-child(1){
  margin: auto auto .3rem 0;
}

.formulario_cadastro input{
  border: none;
  border-radius: .2rem;
  padding: .4rem;
  color: #999;
  background-color: whitesmoke;
  font-size: .9rem;
}

.formulario_cadastro input:focus {
  outline: 3px solid #0073cd;
}

.cadastro_senha,
.cadastro_cep_uf,
.cadastro_rua_numero{
  display: flex;
  flex-wrap: wrap;
  margin: .9rem auto .3rem 0;
}

.cadastro_senha span input,
.cadastro_cep_uf input,
.cadastro_rua_numero input{
  margin-top: .3rem;
  border: none;
  border-radius: .2rem;
  padding: .4rem;
  color: #999;
  background-color: whitesmoke;
  font-size: .9rem;
}

.cadastro_senha span input{
  max-width: 13rem;
}

.cadastro_senha span:nth-child(1),
.cadastro_rua_numero span:nth-child(1) {
  margin-right: 1.4rem;
}

.cadastro_cep_uf span:nth-child(1),
.cadastro_cep_uf span:nth-child(2){
 margin-right: 1.2rem;
}

.cadastro_cep_uf span:nth-child(2) input{
  max-width: 2.5rem;
}

.cadastro_cep_uf span:nth-child(3) input{
  max-width: 10rem;
}

.cadastro_rua_numero span:nth-child(1) input{
  width: 20.5rem;
}

.cadastro_rua_numero span:nth-child(2) input{
  max-width: 4.3rem;
}

.botao_cadastro{
  margin: 1.2rem auto .3rem auto;
  width: 98%;
  padding: .5rem;
  border-radius: .2rem;
  font-size: 1rem;
  border: none;
  background-color: #0073cd;
  color: #f2f2f2;
}

.botao_cadastro:hover {
  background-color: #0264af;
  cursor: pointer;
}

.footer_cadastro {
  color: #f2f2f2;
  background-color: #0264af;
  padding: 0.7rem;
  margin: auto auto 0 auto;
}

@media (max-width:600px){
html{
  max-width: 100%;
  padding: 0;
  margin: 0;
}

.formulario_cadastro{
  max-width: 95%;
}

.cadastro_rua_numero span:nth-child(1) input{
  max-width: 15.5rem;
}

footer{
  max-height: 7vh;
  padding: 0.5rem;
}
}

@media (min-height:1000px){
  footer{
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}